# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Streamlit specific
.streamlit/

# macOS
.DS_Store

# Ignore PDFs testing data
*.pdf
